{% extends 'navbar_admin.html' %}
{% block content %}
{% load static %}
<div style="background-image:url('{% static "images/b3.jpg" %}');background-size: cover;background-repeat:
    no-repeat;width: 100%; border: solid rgb(220, 228, 236) 2px ;margin-bottom: 0%;height:100%;">
    <div>
        <center>
            
            <strong><h5 style="color: aliceblue;background-color: rgb(5, 1, 65);">MODULES</h5></strong> 
            
        </center>
    </div>

    <div class="container">
        <div class="row row-cols-2 row-cols-md-5 row-cols-lg-6 mt-5" style="width: 100%;padding-top:0%;">
            {% for m in md %}
            <a href="{% url 'admin_mprogress' m.id %}" style="text-decoration: none;">
                <div class="col">
                    <div class="card bg-transparent border-0" style="text-align: center;">
                        <center><img src="{% static 'images/workp1.png' %}" alt="project_name" class="card-image-top
             img" height="100px" width="100px"></center>
                        <h6 id="tl" class="card-title" style="color: rgb(63, 5, 65);">{{ m.modu.module_name }}</h6>
                   </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}