{% extends 'navbar_developer.html' %}
{% block content %}
{% load static %}
<body style="background-image: url('{% static "images/d11.jpg" %}'); background-size: cover; background-repeat: no-repeat;height:100vh;"> 
<div class="row row-cols-1 row-cols-lg-3" style="width:100%;">
<div class="col"></div>
<div class="col mt-4" style="margin-left: 15px;  background-color: rgb(238, 241, 241);height: 450px;border: 5px solid rgb(116, 114, 115);border-radius: 15px;">
<center>
    <div style="background-color: rgb(238, 241, 241);margin-top: 50px;" class="container">
        <form action="{% url 'dev_password_change_view' %}" method="post">
            {% csrf_token %}
            <h6 style="text-align: center;margin-top: 50px;color:red;">
                {% for message in messages %}
                <div class="alert alert-danger" style="text-align: center;">
                    {{ message }}
                </div>
                {% endfor %}
                {{ error_message }}
            </h6>
            
            <h4 class="pt-3 pb-3 text-dark">CHANGE
                    PASSWORD </h4>
            <div class="form-group" style="margin-left: 10%;margin-right: 10%;">
                <input type="password" class="form-control" placeholder="Enter The Existing Password  " name="Mpwd">
            </div>
            <div class="form-group" style="margin-left: 10%;margin-right: 10%;">
                <input type="password" class="form-control" placeholder="Enter The New Password  " name="Npwd">
            </div>
            <div class="form-group" style="margin-left: 10%;margin-right: 10%;">
                <input type="password" class="form-control" placeholder="Confirm Password  " name="Cpwd">
            </div>
            <div>
                <button class="btn btn-warning mb-5" type="submit">
                    UPDATE
                </button>
            </div>
        </form>
    </div>
</center>
</div>
<div class="col"></div>

</div>
</body>
{% endblock %}